@model Squib.Frontend.Models.CouponPromoList

@{
    ViewBag.Title = "Redeem";
}
<section id="page" class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel-body frameLR bg-white shadow mTop-30 text-center">
                <h3>QR Code</h3>
                <div id="qrcode" data-promo-id="@Model.Coupon.Id"></div>
                <br />
                <p>Expires on @Model.Coupon.DateExpires.ToString("d MMM yyyy")</p>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel-body frameLR bg-white shadow mTop-30">
                <h3>@Model.Promo.Title</h3>
                <div role="tabpanel" id="tabs" class="tabbable responsive">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="ti-menu"></i> <b class="caret"></b></a><ul class="dropdown-menu"></ul></li>
                        <li role="presentation" class="active">
                            <a href="#tab-1" aria-controls="home" role="tab" data-toggle="tab">
                                Overview
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#map" aria-controls="map" role="tab" data-toggle="tab">
                                Map &amp; Directions
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab-1">
                                    @Html.Raw(Model.Promo.Description)
                                </div>
                                <!-- /tab content -->
                                <div role="tabpanel" class="tab-pane" id="map">
                                    <!-- Google map, just iframe for now -->
                                    <div class="google-maps">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
                                    </div>
                                    <!-- /google map -->
                                </div>
                                <!-- /tab -->
                            </div>
                        </div>
                        <!--/tabs -->
                    </div>
                    <!-- /inner widget -->
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script src="/js/qrcode.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            new QRCode(document.getElementById("qrcode"), $("#qrcode").data("promo-id"));
        });
    </script>
}
