@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-note2"></i>
            </div>
            <div class="header-title">
                <h3>Redeem</h3>
                <small>
                    Redeem a coupon
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-filled">
            <div class="panel-heading">Scan QR Code</div>
            <div class="panel-body text-center">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" id="btnScan">
                            <i class="fa fa-camera"></i>
                        </button>
                        <br />
                        <video id="preview"></video>
                    </div>
                </div>
                <div class="col-lg-12" id="coupon-preview" style="display:none;">
                    <label>Code</label>
                    <span id="qrcode"></span>
                    <br />
                    <span id="customer-status"></span><br />
                    <span id="customer-promo-name"></span><br />
                    <span id="customer-FirstName"></span><br />
                    <span id="customer-email"></span>
                    <br />
                    <button type="button" class="btn btn-primary" id="btnRedeem">Redeem</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-filled">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="exampleInputName">Customer Email</label><br />
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="exampleInputName">Promo</label><br />
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary">Redeem</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/vendor/QRCode/instascan.min.js"></script>

    <script type="text/javascript">
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {
            console.log(content);
            $("#qrcode").html(content);
            scanner.stop();
            $("#preview").hide();
            GetCoupon(content);
        });

        $("#btnScan").click(function () {
            $("#preview").show();
            $("#coupon-preview").hide();
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        });


        function GetCoupon(qrcode) {
            $.ajax({
                type: "GET",
                url: "/redeem/GetCoupon?qrcode=" + qrcode,
                contentType: "application/json",
                dataType: "json",
                success: function (d) {
                    $("#customer-status").html(d.Coupon.Status);
                    $("#customer-FirstName").html(d.User.FirstName);
                    $("#customer-email").html(d.User.Email);
                    $("#customer-promo-name").html(d.Promo.Title);

                    if (d.Coupon.Status == "Valid") {
                        $("#btnRedeem").show();
                        $("#btnRedeem").data("qr-code", qrcode);
                    }
                    else {
                        $("#btnRedeem").hide();
                    }

                    $("#coupon-preview").slideDown("slow");
                },
                error: function (xhr, textStatus, errorThrown) {
                    AlertError('Oopps! We are experiencing some problem. Please try again later.');
                }
            });
        }


        $("#btnRedeem").click(function () 
        {
            var qrcode = $("#btnRedeem").data("qr-code");
            $.ajax({
                type: "POST",
                url: "/redeem/Redeem?qrcode=" + qrcode,
                contentType: "application/json",
                dataType: "json",
                success: function (d) {
                    $("#customer-status").html(d.Coupon.Status);
                    $("#customer-FirstName").html(d.User.FirstName);
                    $("#customer-email").html(d.User.Email);
                    $("#customer-promo-name").html(d.Promo.Title);

                    $("#btnRedeem").hide();

                    AlertSuccess("Successfully redeemed!");
                },
                error: function (xhr, textStatus, errorThrown) {
                    AlertError('Oopps! We are experiencing some problem. Please try again later.');
                }
            });
        });
    </script>
}