
@{
    ViewBag.Title = "Runadeal";
}
<div class="row">
    <div class="col-sm-8 mTop-30">
        <div class="inner-wrap frameLR bg-white shadow clearfix ">
            <!-- widget -->
            <div class="widget contact-widget">
                <h4 class="widget-title">
                    Contact Us
                </h4>
                <form class="contact-form clearfix" action="#" method="post" novalidate="novalidate">
                    <p>
                        Your email address will not be published. Required fields are marked *
                    </p>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <p class="input-block">
                                <label class="required">
                                    Name
                                    <span>
                                        (*)
                                    </span>
                                </label>
                                <input type="text" class="form-control" placeholder="Name">
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <p class="input-block">
                                <label class="required">
                                    Email
                                </label>
                                <input type="text" class="form-control" placeholder="Email">
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <p class="input-block">

                                <label class="required">
                                    Business Name
                                </label>
                                <input type="text" class="form-control" placeholder="Business Name">

                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <p class="input-block">

                                <label class="required">
                                    Website
                                </label>
                                <input type="text" class="form-control" placeholder="Web site">
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <p class="input-block">

                                <label class="required">
                                    Contact Number
                                </label>
                                <input type="text" class="form-control" placeholder="Phone number">

                            </p>
                        </div>
                    </div>
                    <!-- row -->

                    <p class="textarea-block">

                        <label class="required" for="contact_message">
                            Other information
                        </label>
                        <textarea rows="6" cols="88" id="contact_message" name="message" class="form-control">
                    </textarea>
                    </p>
                    <p class="contact-button clearfix">

                        <input type="submit" class="btn btn-raised ripple-effect btn-success" id="submit-contact" value="Send message">
                    </p>
                </form>
                <div id="response">
                </div>
            </div>
            <!-- punica-contact-widget -->
        </div>
        <!-- /inner wrap -->
    </div>
    <div class="col-sm-4 sidebar">
        <div class="inner-side shadow mTop-0">
            <div class="widget widget-subscribe">
                <hr data-symbol="SUBSCRIBE">
                <div class="newsletter">
                    <h4>
                        Get Updates
                        <span class="color-orange">
                            (it’s free)
                        </span>
                    </h4>
                    <p>
                        Subscribe to our newsletter for good deals, sent out every month.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-raised ripple-effect" type="button">
                                Subscribe
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="widget widget-tags">
                <hr class="mBtm-50 mTop-30" data-symbol="POPULAR TAGS">
                <ul class="tags">
                    <li>
                        <a href="#" class="tag">
                            Vacation
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Travel
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Discount
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Croatia
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Adriatic
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Europe
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Monte Negro
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            New York
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tag">
                            Paris
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /widget -->
            <div class="widget">
                <hr class="mBtm-50 mTop-30" data-symbol="ADDRESS">
                <address>
                    Design Company
                    <br>
                    55 Eva. Avenue., 1004/115
                    <br>
                    Sarajevo, BA 00125-4587 BiH
                    <br>
                </address>
            </div>

            <div class="widget">
                <hr class="mBtm-50 mTop-30" data-symbol="ADDRESS II">
                <address>
                    Design Company
                    <br>
                    55 Eva. Avenue., 1004/115
                    <br>
                    Sarajevo, BA 00125-4587 BiH
                    <br>
                </address>
            </div>



            <div class="widget">
                <hr class="mBtm-50 mTop-30" data-symbol="WORKSPACE">
                <div class="responsive-video">
                    <div class="fluid-width-video-wrapper" style="padding-top: 56.2%;">
                        <iframe src="https://player.vimeo.com/video/122994198" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid0"></iframe>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- /col 4 - sidebar -->
</div>

