@model Squib.Backoffice.Models.ReqLogin
@{
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}
<!-- Main content-->
<section class="content">
    <div class="container-center animated slideInDown">
        <span id="pnlMessage" data-message="@Model.Message"></span>
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Login</h3>
                <small>
                    Please enter your credentials to login.
                </small>
            </div>
        </div>
        <div class="panel panel-filled">
            <div class="panel-body">
                @using (Html.BeginForm("Validate", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="control-label" for="username">Email</label>
                        @Html.TextBoxFor(n => n.Username, new { @class = "form-control", placeholder = "Please enter you email", required = "" })
                        <span class="help-block small">Your unique username to app</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                        <span class="help-block small">Your strong password</span>
                    </div>
                    <div>
                        <button class="btn btn-accent" type="submit">Login</button>
                        <a class="btn btn-default" href="/Register">Register</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End main content-->

@section Scripts{
    <script type="text/javascript">
        $(function () {
            var message = $("#pnlMessage").data("message");
            if (!isBlank(message)) {
                AlertWarning(message);
            }
        });
    </script>
}
