<header>

    <div class="top-bar bg-light hdden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 list-inline list-unstyled no-margin hidden-xs">

                </div>
                <div class="pull-right col-sm-6">
                    <ul class="list-inline list-unstyled pull-right">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/login">
                                    Sign In
                                </a>
                            </li>
                            <li>
                                <a href="/login/register">
                                    Sign Up
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="active">
                                <a href="#">
                                    <i class="ti-cart">
                                    </i>
                                    Welcome @ViewBag.Name!
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <i class="fa fa-user">
                                    </i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="/login/signout">
                                    <i class="fa fa-sign-out">
                                    </i>
                                    Sign Out
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="nav-wrap">
        <div class="nav-wrap-holder">
            <div class="container" id="nav_wrapper">
                <nav class="navbar navbar-static-top nav-white" id="main_navbar" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                            <span class="sr-only">
                                Toggle navigation
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                        </button>
                        <a href="index.html" class="navbar-brand logo col-sm-3">
                            <img src="images/logo.png" alt="" class="img-responsive">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="Navbar">
                        <!-- regular link -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>

                            <li>
                                <a href="results.html">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="results.html">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /.div nav wrap holder -->
    </div>
    <!-- /#nav wrap -->
</header>
