
@{
    ViewBag.Title = "LeftMenu";
}

<div class="inner-side shadow">
    <div class="widget widget-menu">
        <hr data-symbol="CATEGORIES">
        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li>
                <a href="#">
                    <i class="ti-ticket">
                    </i>
                    Purchased Coupons
                    <span class="sidebar-badge">
                        3
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ti-shopping-cart">
                    </i>
                    Change Password
                    <span class="sidebar-badge">
                        456
                    </span>
                </a>
            </li>
        </ul>
        <!-- Sidebar divider -->
    </div>
    <!-- /.widget -->
    <!--/.widget -->
</div>


