@model List<Squib.Backoffice.Models.ResPromoList>

@{
    ViewBag.Title = "List";
}


<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-note2"></i>
            </div>
            <div class="header-title">
                <h3>List of Promo</h3>
                <small>
                    List of your promos
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                Promos
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="tblList">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Shop</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Max</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {

           //$("#tblPromoList").DataTable();

            $('#tblList').DataTable({
                "ajax": { url: '@Url.Action("PromoList", "Promo")', "dataSrc": "" },
                "columns": [
                    { "data": "Title", 
                    "render": function (d, t, r) {
                        var id = ObjectIdToString(r.Id);
                        return "<a href='/Promo/Create/" + id + "'>" + d + "</a>";
                    }},
                    { "data": "OrganisationName" },
                    { "data": "From", 
                    "render": function (d) {
                        var date = ToJavaScriptDate(d);
                        return moment(d).format("d MMM YYYY");
                        }},
                    { "data": "To", 
                    "render": function (d) {
                        var date = ToJavaScriptDate(d);
                        return moment(d).format("d MMM YYYY");
                    }
                    },
                    { "data": "MaxNumberOfVoucher" },
                    { "data": "Category" }
                ]
            });

        });
    </script>
}